.postCard__commentBox--profilePic {
  width: 35px;
  border-radius: 50%;
  border: 1px rgba(255, 255, 255, 0.26) solid;
}

.postCard__commentBox--userName {
  font-weight: bold;
  display: inline;
  color: var(--color1);
}

.postCard__commentBox--date {
  float: right;
  font-size: 0.5rem;
}

.postCard__commentBox--textBox {
  width: 100%;
}
.postCard__commentBox--comment {
  overflow-wrap: break-word;
}
