.button-form {
    margin-bottom: 0.5rem;
    align-self: center;
    box-shadow: none;
    width: 50%;
    height: 40px;
    background-color: var(--color5);
    color: var(--color2);
    border-radius: 25px;
    letter-spacing: 1.3px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.button-form:hover {
    background-color: var(--color3);
    color: var(--color5);
    font-weight: bold;
}