@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;

  --postCardBackground: rgba(77, 155, 245, 0.829);
  /*background*/
  --color1: #ffffff;
  --color2: #f4f5f5;
  --color3: #01a9c1;
  --color4: #a7d4dd;
  --color5: #051f34;
  --color6: #027495;
  --color7: #c9caca;
}

.App {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Registro*/

main .register-title {
  font-size: 2rem;
  text-align: center;
  color: var(--color5);
}

main .register-subtitle-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 1.9rem;
}

main .register-subtitle-logo2 {
  font-weight: 500;
}

main .register-subtitle {
  color: var(--color6);
  font-size: 1.4rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 400;
}

/*Página de inicio de sesión*/

main .login {
  margin: 2rem;
}

main .login-no-count {
  font-weight: 300;
  text-align: center;
}

main .login-no-count a {
  margin-left: 0.2rem;
}

/*Pagina de tu perfil*/

main .own_profile .profile-data {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

main .own_profile .profile-data h1 {
  color: var(--color5);
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 1rem;
}

main .own_profile .profile-data .user-date-created {
  color: var(--color5);
  grid-area: 2 / 1 / 3 / 2;
  font-weight: 300;
  padding-left: 1rem;
}

main .own_profile .profile-data a {
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
}

main .own_profile .edit-link {
  color: var(--color3);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 2px solid var(--color3);
}

/*Pagina de un usuario*/

.user-profile-head {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 2rem;
}

.user-profile-head a {
  grid-area: 1 / 1 / 3 / 2;
  margin-bottom: 0.5rem;
}

.user-profile-head .user_username {
  grid-area: 1 / 2 / 2 / 3;
}

.user-profile-head .date_created {
  grid-area: 2 / 2 / 3 / 3;
}

/*login, register y edit (común)*/

main .login,
main .register,
main .edit_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  min-height: 500px;
  background-color: var(--color2);
  border-radius: 15px;
  box-shadow: 5px 5px 8px var(--color7);
}

main .login form,
main .register form,
main .edit_user form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

main .login {
  margin: 40px auto;
}

main .register {
  margin: 10px auto;
  padding: 20px 30px 20px 30px;
}

main .edit_user {
  margin: 1rem auto;
}

main .login .form-field input,
main .register .form-field input,
main .edit_user .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: var(--color5);
  padding: 10px 15px 10px 10px;
}

.login .name,
.register .name,
.edit_user .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: var(--color5);
}

.login .form-field,
.register .form-field,
.edit_user .form-field,
.edit_user .form-field-avatar {
  text-align: center;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px var(--color7), inset -8px -8px 8px var(--color1);
  border: none;
}

.edit_user .form-field-avatar {
  height: 60px;
}

.edit_user .form-field-avatar .label-avatar {
  color: var(--color4);
}

.edit_user .form-field-avatar .avatar {
  color: var(--color7)
}

.form-field {
  color: var(--color4);
}

.login a,
.register a,
.edit_user a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--color6);
}

.login a:hover,
.register a:hover,
.edit_user a:hover {
  color: var(--color5);
}

main .photo-container {
  width: 100%;
}

main .photo-container img {
  margin-bottom: 3rem;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  width: 100%;
}

.message {
  text-align: center;
  font-weight: 200;
  font-size: 0.9rem;
}

@media (min-width: 700px) {
  .App {
    width: 60%;
  }

  .background-screen {
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .own_profile .profile-data a {
    justify-self: end;
    margin-left: 2rem;
  }

  main .own_profile .profile-data {
    align-self: baseline;
  }

  main .own_profile {
    display: flex;
    flex-direction: column;
  }
}

